* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #edeef4;
    position: sticky;
    top: 0;
    bottom: 0;
}
.maincontainer {
    width: 100%;
    /* max-width: 1280px; */
    /* margin: 0 auto;
    height: 100vh; */
}

/* website logo  */
.logo {
  
    width: 120px;
    height: auto;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;


}

/*  nav items */
.navbar li {
    padding: 0 20px;
    list-style: none;
    text-decoration: none;
    position: relative;
}

/* nav a tag*/
.navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    /* transition: 0.5s ease; */
}

/* hero section */

.hero {
    background-color: #edeef4;
    /* background-image: url('Images/hero.png'); */
    width: 100%;
    height: 65vh;
    /* background-size: cover; */
    display: flex;
    /* flex-direction: row; */
    padding-left: 100px;
    align-items: center;
    justify-content: center;
}

.divleft, .divright{
    width: 50%;
}


.divleft h2 {
    padding-bottom: 12px;
}

.divleft h1 {

    color: #088178;
}

.divleft p {
    padding-top: 10px;
}

.divleft button {
    background-image: url('Images/btn.png');
    background-color: transparent;
    border: 0;
    background-repeat: no-repeat;
    padding: 14px 80px;
    font-size: 15px;
    font-weight: 600;
    color: #088178;
}

.categories{
    text-align: center;
    font-size: 72;
    background-color: #088178;
    width: 30%;
    margin: 10px auto;
    padding: 20px 20px;
     border-radius: 60px 20px;
    
}
.categoriessection{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cp1{
    width: 22%;
    /* background-color: #088178; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 15px 10px;
    border: 1px solid #cce7d0;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
}

.cp1 img{
    width: 90%;
    margin-bottom: 10px;
    border-radius: 20px;
}

.cp1 button{
    margin-top: 10px;
    font-size: 1em;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 10%;

    border: 1px solid white;
    
}

.cp1 button:hover{
    background-color: #088178;
    transition: 0.5s;
    color: white;
}


.cpp1 a{
    color: red;
    text-decoration: none;
    font-size: 1.5em;
}
/* top selling products */

.topselling{
    text-align: center;
    background-color: #edeef4;
   
   
}

.topmain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 10px;
     padding: 10px;
}

.topsellcantainer{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    
}